<section class="masthead">
    <nav class = "language-nav">
        <ul>
            <li>CSS</li>
            <li>HTML</li>
            <li>Javascript</li>
            <li>Ruby</li>
        </ul>
    </nav>
    <a href="#"><img href="app/assets/images/AA_Times_Logo.png"></a>    
    <nav class = "masthead-links">
        <ul>
            <li><a href="#">Tuesday, October 18, 2016</a></li>
            
        </ul>
Today’s Paper
Video
77°F
AAO +100%
</section>