<nav id="sections-sidebar">
    <section><a href="#">World</a></section>
    <section class = "dropdown"><div class="dropdownable"><a href="#">San Francisco</a><i class="arrow fas fa-chevron-right"></i></div>
        <ul>
            <li class="dropdown-header">San Francisco</li>
            <li>Students</li>
            <li>Teaching Assistants</li>
            <li>Instructors</li>
            <li>Career Advisors</li>
            <li>Cats</li>
        </ul>
    </section>
    <section><a href="#">New York</a></section>
    <section class = "dropdown"><div class="dropdownable"><a href="#">Bootcamp Prep</a><i class="arrow fas fa-chevron-right"></i></div>
        <ul>
            <li class="dropdown-header">Bootcamp Prep</li>
            <li> Students</li>
            <li>Instructors</li>
            <li>Cats</li>
        </ul>
    </section>
    <section><a href="#">Jumpstart</a></section>
    <section class = "dropdown"><div class="dropdownable"><a href="#">Online</a><i class="arrow fas fa-chevron-right"></i></div>
        <ul>
            <li class="dropdown-header">Online</li>
            <li>Immersive</li>
            <li>Bootcamp Prep<li>
            <li>Cats</li>
        </ul>
    </section>
    <section><a href="#">Marketing</a></section>
    <section class = "dropdown"><div class="dropdownable"><a href="#">Sales</a><i class="arrow fas fa-chevron-right"></i></div>
        <ul>
            <li class="dropdown-header">Sales</li>
            <li>Associates</li>
            <li>Analytics</li>
            <li>Cats</li>
        </ul>
    </section>
    <section><a href="#">TalentMatch</a></section>
    <section class = "dropdown"><div class="dropdownable"><a href="#">Alumni</a><i class="fas fa-chevron-right"></i></div>
        <ul>
            <li class="dropdown-header">Alumni</li>
            <li>Students</li>
            <li>Companies</li>
            <li>Opinions</li>
            <li>Cats</li>
        </ul>
    </section>
</nav>
            
            

            