<nav class="section-nav">
    <p><a href="#">World</a></p>
    <p><a href="#">San Francisco</a></p>
    <p><a href="#">New York</a></p>
    <p><a href="#">Bootcamp Prep</a></p>
    <p><a href="#">Jumpstart</a></p>
    <p><a href="#">Online</a></p>
    <p><a href="#">Marketing</a></p>
    <p><a href="#">Sales</a></p>
    <p><a href="#">TalentMatch</a></p>
    <p><a href="#">Alumni</a></p>
    <p class="all"><a href="#">All</a></p>
</nav>