<body>
  <form action="/cats" method="post">
  <label for='name'>Name</label><br>
  <input type="text" id='name' name="name"><br>
  <label for='birth_date'>Date of Birth</label><br>
  <input type="date" id='birth_date' name="birth_date"><br>
  <label for='color'>Color</label><br>
  <select name="color" id="color">
    <option disabled selected>--Choose a color--</option>
    <% Cat::COLORS.each do |color| %>
        <option value = <%=color%>><%=color.capitalize%></option>
    <% end %>
  </select><br>
  <label>Sex</label><br>
  <input type="radio" id='M' name="sex" value="M">
    <label for="M">M</label>
  <input type="radio" id='F' name="sex" value="F">
    <label for="F">F</label>
    <br>
  <input type="textarea" id='description' name="description"><br>
  <input type="submit" value = "Add this cat">
  </form>
</body>