.right-nav > ul > li:last-of-type:hover #gear-dropdown {
    position: absolute;
    display: block;
}
.right-nav > ul > li:last-of-type:hover {
    position: relative;
}
#gear-dropdown {
    display: none;
    background-color: white;
    z-index: 2;
    border: 1px solid $light-gray;
    border-radius: 3px;
    padding: 5px;
    padding-right: 30px;
    left: -85px;
    top: 30px;
    box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
}

.dropdown-subtitle {
    font-size: 8px;
    font-weight: bold;
}

.editions {
    border-bottom: 1px solid $light-gray;
}

.editions a {
    display: block;
    padding: 1px;
    width: 100%;
    color: black;
    border-radius: 3px;
    font-size: 10px;
    margin: 2px;
    border-radius: 10%;
}

.editions a:hover {
    background-color: $light-gray;
}

.help a{ 
    color: $light-blue;
    font-size: 10px;
}

.help a:hover{
    text-decoration: underline;
}
