.main-nav {
	display: flex; 
	justify-content: space-between; 
	padding: 20px;
}

.left-nav > ul,
.right-nav > ul {
	display: flex; 
	align-items: center;
}

.left-nav {

  > ul {
    > li {
		font-size: 10px;
		font-family: $sans-serif;
		text-transform: uppercase;
    }
  }

  span {
	margin: 5px;
  }
}

.right-nav  {

  > ul {

    > li {
		background-color: #6288A5;
		padding: 5px;
		margin: 10px;
		color: white;
		font-family: $sans-serif;
		border-radius: 3px;
    }

    > li:last-of-type {
  
    }
  }
  
  i {

  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {

}
